<!-- -*- mode:xml; tab-width:2; c-basic-offset:2; intent-tabs-mode:nil; -*- ex: set tabstop=2 expandtab: -->
<settings>
  <setting propertyKey="@Properties.userTimeConstant" title="@Strings.titleTimeConstant" prompt="@Strings.helpTimeConstant" >
    <settingConfig type="numeric" min="0" max="10" required="true" />
  </setting>
  <setting propertyKey="@Properties.userVariometerRange" title="@Strings.titleVariometerRange" prompt="@Strings.helpVariometerRange" >
    <settingConfig type="list" required="true" >
      <listEntry value="0">@Strings.valueVariometerRangeSmall</listEntry>
      <listEntry value="1">@Strings.valueVariometerRangeMedium</listEntry>
      <listEntry value="2">@Strings.valueVariometerRangeLarge</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.userVariometerMode" title="@Strings.titleVariometerMode" prompt="@Strings.helpVariometerMode" >
    <settingConfig type="list" required="true" >
      <listEntry value="0">@Strings.valueVariometerModeAltitude</listEntry>
      <listEntry value="1">@Strings.valueVariometerModeEnergy</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.userEnergyEfficiency" title="@Strings.titleEnergyEfficiency" prompt="@Strings.helpEnergyEfficiency" >
    <settingConfig type="numeric" min="0" max="100" required="true" />
  </setting>
  <setting propertyKey="@Properties.userPlotRange" title="@Strings.titlePlotRange" prompt="@Strings.helpPlotRange" >
    <settingConfig type="numeric" min="1" max="5" required="true" />
  </setting>
  <setting propertyKey="@Properties.userPlotZoom" title="@Strings.titlePlotZoom" prompt="@Strings.helpPlotZoom" >
    <settingConfig type="numeric" min="0" max="9" required="true" />
  </setting>
  <setting propertyKey="@Properties.userFinesseReference" title="@Strings.titleFinesseReference" prompt="@Strings.helpFinesseReference" >
    <settingConfig type="numeric" min="1" max="99" required="true" />
  </setting>
  <setting propertyKey="@Properties.userHeightDecision" title="@Strings.titleHeightDecision" prompt="@Strings.helpHeightDecision" >
    <settingConfig type="numeric" min="0" max="9999" required="true" />
  </setting>
  <setting propertyKey="@Properties.userHeightWarning" title="@Strings.titleHeightWarning" prompt="@Strings.helpHeightWarning" >
    <settingConfig type="numeric" min="0" max="9999" required="true" />
  </setting>
  <setting propertyKey="@Properties.userHeightCritical" title="@Strings.titleHeightCritical" prompt="@Strings.helpHeightCritical" >
    <settingConfig type="numeric" min="0" max="9999" required="true" />
  </setting>
  <setting propertyKey="@Properties.userUnitDistance" title="@Strings.titleUnitDistance" prompt="@Strings.helpUnitDistance" >
    <settingConfig type="list" required="true" >
      <listEntry value="-1">@Strings.valueUnitDistanceAuto</listEntry>
      <listEntry value="0">@Strings.valueUnitDistanceMetric</listEntry>
      <listEntry value="1">@Strings.valueUnitDistanceStatute</listEntry>
      <listEntry value="2">@Strings.valueUnitDistanceNautical</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.userUnitElevation" title="@Strings.titleUnitElevation" prompt="@Strings.helpUnitElevation" >
    <settingConfig type="list" required="true" >
      <listEntry value="-1">@Strings.valueUnitElevationAuto</listEntry>
      <listEntry value="0">@Strings.valueUnitElevationMetric</listEntry>
      <listEntry value="1">@Strings.valueUnitElevationStatute</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.userUnitRateOfTurn" title="@Strings.titleUnitRateOfTurn" prompt="@Strings.helpUnitRateOfTurn" >
    <settingConfig type="list" required="true" >
      <listEntry value="0">@Strings.valueUnitRateOfTurnDegree</listEntry>
      <listEntry value="1">@Strings.valueUnitRateOfTurnRpm</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.userTimeUTC" title="@Strings.titleTimeUTC" prompt="@Strings.helpTimeUTC" >
    <settingConfig type="boolean" />
  </setting>
  <setting propertyKey="@Properties.userBackgroundColor" title="@Strings.titleBackgroundColor" prompt="@Strings.helpBackgroundColor" >
    <settingConfig type="list" required="true" >
      <listEntry value="16777215">@Strings.valueColorWhite</listEntry>
      <listEntry value="0">@Strings.valueColorBlack</listEntry>
    </settingConfig>
  </setting>
  <setting propertyKey="@Properties.userVariometerTones" title="@Strings.titleVariometerTones" prompt="@Strings.helpVariometerTones" >
    <settingConfig type="boolean" />
  </setting>
  <setting propertyKey="@Properties.userSafetyTones" title="@Strings.titleSafetyTones" prompt="@Strings.helpSafetyTones" >
    <settingConfig type="boolean" />
  </setting>
  <setting propertyKey="@Properties.userMuteDistance" title="@Strings.titleMuteDistance" prompt="@Strings.helpMuteDistance" >
    <settingConfig type="numeric" min="0" max="9999" required="true" />
  </setting>
  <setting propertyKey="@Properties.userLapKey" title="@Strings.titleLapKey" prompt="@Strings.helpLapKey" >
    <settingConfig type="boolean" />
  </setting>
</settings>
